:root {
    --header-color: #24292f;
    --color-header-text: rgba(255,255,255,0.7);
    --header-search-border: #57606a;

    --main-black-color: #24292f;
    --main-span-color: #57606a;
    --main-border-color: hsla(210,18%,87%,1);
    --main-select-background-color: #f3f4f6;
    --main-select-border-color: #d0d7de;
}

#container {
    width: 1903px;
    height: 1088px;
}

header {
    display: flex;
    align-items: center;

    padding: 32px 16px;

    width: 1903px;
    height: 62px;

    background-color: var(--header-color);
}

/* header brand logo */

.header-brand-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 0px 15px;
}

.header-brand-logo button
, .header-profile-logo button 
, .state-display {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    overflow: hidden;

    width: 32px;
    height: 32px;
}

.header-input-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--header-search-border);
    border-radius: 5px;

    margin-right: 15px;

    width: 272px;
    height: 30px;
}

.input-box {
    padding: 0px 12px;
    width: 246px;
    height: 28px;
}

.input-box input{
    border: none;

    width: 225px;
    height: 28px;

    outline: none;
    color: var(--color-header-text);
    background-color: var(--header-color);
}

.small-box {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--header-search-border);
    border-radius: 5px;

    margin-right: 4px;
    
    width: 50px;
    height: 20px;
    background-color: var(--header-color);
}

.small-box span {
    font-size: 10px;
    color: var(--color-header-text);
}

/* header nav menu */

.header-nav-all-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1550px;
}

/* left */

.header-left-nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav a {
    margin: 0px 16px 0px 0px;

    font-weight: 500;
    font-size: 13px;
    color: var(--color-header-text);
    width: 81px;
    height: 21px;
}

/* right */

.header-right-nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-notify-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 16px;

    width: 16px;
    height: 16px;
}

.header-more-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;

    width: 27px;
    height: 30px;
}

.header-more-menu span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */

    margin: 0px 3px;
    /* padding-bottom: 15px; */

    font-weight: 300;
    font-size: 20px;
    width: 16px;
    height: 30px;

    color: white;
}

.header-more-menu img {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    height: 25px;
}

.header-profile-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 60px;
    height: 25px;
}

.header-profile-logo button {
    width: 25px;
    height: 25px;
}

.state-display {
    position: absolute;
    top: 0px;
    left: 22px;
    width: 11px;
    height: 11px;

    background-color: #006eed;
}

.header-profile-logo img {
    /* padding-left: 5px; */
    height: 25px;
}

/* main */

/* top box */
.top-box {
    border-bottom: 1px solid var(--main-border-color);
}

.top-introduce-box {
    margin-bottom: 17px;
}

.top-box h1 {
    font-size: 24px;
    font-weight: 400;
}

.top-box p {
    font-size: 14px;
    color: var(--main-span-color);
}

/* second top box */

.second-top-box {
    border-bottom: 1px solid var(--main-border-color);
}

.label-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 15px 0px 5px;
}

.second-top-box label {
    font-weight: 500;
    font-size: 14px;

    color: var(--main-black-color);
}

.main-input-box {
    display: flex;
    align-items: center;
}

.owner-box {
    display: flex;
}

.owner-box select {
    border: 1px solid var(--main-border-color);
    border-radius: 5px;

    width: 125px;
    height: 33px;

    background-color: var(--main-select-background-color);
}

/* .owner-box select::after {
    content: "/dsfaasdsd";
    font-size: 14px;
    color: red;

} */


.owner-box span {
    margin: 0px 10px;

    font-weight: 700;
    font-size: 22px;
}

/* .circle {
    border-radius: 50%;

    width: 25px;
    height: 25px;
    background-color: black;
} */

.repository-name-box {
    width: 250px;
    height: 32px;
}

.repository-name-box input {
    border: 1px solid var(--main-border-color);
    border-radius: 5px;

    width: 250px;
    height: 32px;

    background-color: var(--main-select-background-color);
}

.second-top-span-box {
    margin-top: 10px;
    margin-bottom: 15px;
}

.main-description-input-box {
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-description-input-box input {
    border: 1px solid var(--main-border-color);
    border-radius: 5px;

    width: 704px;
    height: 32px;
    background-color: var(--main-select-background-color);
}

/* middle box */

.middle-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    margin-bottom: 20px;

    border-bottom: 1px solid var(--main-border-color);
}

.middle-box img {
    margin: 0px 6px;
    padding-top: 3px;
    height: 30px;
}

.section-box {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

.last-section-box {
    margin-bottom: 30px;
}

.public-explaination {
    position: absolute;
    top: 35px;
    left: 49px;
}

.public-explaination span {
    font-size: 12px;
}

.private-explaination {
    position: absolute;
    top: 94px;
    left: 49px;
}

.private-explaination span {
    font-size: 12px;
}